
body, ul, ol, dl, li, dd, h1, h2, h3, h4, h5, h6, p, input { margin: 0 }
.fontW{font-weight: bold}
.fontS14{font-size: 14px !important ;}
.fontS15{font-size: 15px !important;}
.fontS16{font-size: 16px !important;}
.fontS18{font-size: 18px !important;}
.fontS20{font-size: 20px !important;}
.fontS22{font-size: 22px !important;}
.fontS24{font-size: 24px !important;}
.fontS26{font-size: 26px !important;}
.fontS28{font-size: 28px !important;}
.fontS32{font-size: 32px !important;}
.fontS34{font-size: 34px !important;}
.fontS50{font-size: 50px !important;}
.fontS70{font-size: 70px !important;}

.mgr10{margin-right: 10px !important;}
.mgr15{margin-right: 15px !important;}
.mgr20{margin-right: 20px !important;}

.mgt10{margin-top: 10px !important}
.mgt15{margin-top: 15px !important}
.mgt20{margin-top: 20px !important}
.mgt25{margin-top: 25px !important}
.mgt50{margin-top: 50px !important}
.mgt100{margin-top: 100px !important}

.mgb5{margin-bottom: 5px !important}
.mgb10{margin-bottom: 10px !important}
.mgb15{margin-bottom: 15px !important}
.mgb20{margin-bottom: 20px !important}
.mgb50{margin-bottom: 50px !important}
.mgb100{margin-bottom: 100px !important}

.mgl10{margin-left: 10px !important}
.mgl15{margin-left: 15px !important}
.mgl20{margin-left: 20px !important}

.pad10{padding: 10px !important}
.pad1020{padding: 10px 20px !important}

.pdl10{padding-left: 10px !important}
.pdl20{padding-left: 20px !important}

.pdr10{padding-right: 10px !important}
.pdr20{padding-right: 20px !important}

.wid30{width: 30%}
.height33{height: 33%}
.wid50{width: 50px !important}
.height50{height: 50px !important}
.lineHeigh{line-height: 36px !important}
.flex{display: flex}
.flexAC{display: flex;align-items: center;}
.flexAE{display: flex;align-items: end}
.flexJB{display: flex;justify-content: space-between}
.flexJE{display: flex;justify-content: space-evenly}
.flexJA{display: flex;justify-content: space-around}
.flexJC{display: flex;justify-content: center}
.flexWrap{display: flex;flex-wrap: wrap}
.flexDc{display: flex;flex-direction: column}

.fontC666{color: #666666 !important;}
.fontC999{color: #999999 !important;}
.fontCfff{color: #ffffff !important;}
.fontCff347e{color: #ff347e !important;}
.textAC{text-align: center}
.overfH{overflow: hidden}
